.fullscreen{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.display-holder{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px black solid;
    overflow: hidden;
    border-radius: 5px;
}

.calc-holder{
    /* border: 2px black solid; */
    border-radius: 10px;
    padding: 20px;
}

.btn-width{
    min-width: 100px;
    max-width: 100px;
}
